{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "semi": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ]
  },
  "globals": {
    "fetch": false,
    "document": true,
    "navigator": false
  }
}
